

#Bio{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15%;
    padding-right:15%;
    background-color: bisque    ;
}
.BioContainer{
    display: flex;
    justify-content: space-arround;
    gap:5%
}
.BodyParagraph{
    font-family: Kalam;
}
.ProfilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profilePhoto{
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px;
    border-width: 5px;
    
}