

#Bio{
    padding-top: 5%;
    padding-bottom: 10px;
    padding-left:15%;
    padding-right:15%;
    background-color: bisque    ;
}

.BioContainer{
    display: flex;
    justify-content: space-arround;
    gap:5%
}
.BodyParagraph{
    font-family: Kalam;
}
.ProfilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profilePhoto{
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px;
    border-width: 5px;
    
}

@media screen and (max-width: 768px) {
    .BioContainer {
      display: grid; /* hide these on small screens */
    }
    #Bio{
        padding-bottom: 20%;
    }

  }