.profilePhoto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.bioContainer{
    display: flex;
    gap: 20px; /* spacing between photo and text */
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap; /* lets it wrap on small screens */
}