.ProjectIntro{
    
    height: auto;
    width: auto;
    background-image: linear-gradient(to right, rgb(238, 137, 153),rgb(68, 38, 221));
    display: flex;
    justify-content: center;
}

.ProjectIntroText{
    padding:20px;
    font-size: 60px;
    font-style: bold;
    color:rgb(245, 240, 220);
}
.GalleryContainer{
    padding:10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
    
}
.ProjectCard{
    padding: 5px; 
}
.ProjectCardInner {
    position: relative;
    width: 100%;
    height: 100%;
  }
.ProjectCard img{
    max-height: 400px;
    transition: transform 0.3s ease;
    
}
.ProjectCard:hover img{
    transform: scale(1.05);
}
.ProjectOverlay {
    top:0px;
    width: 100%;
    height: 400px;
    position: absolute;
    background-color: rgba(214, 151, 151, 0.5); /* semi-transparent white */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Text in the middle */
  .TitleText {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
  }
  
  /* Hover effect */
  .ProjectCard:hover{
    z-index: 10;
  }
  .ProjectCard:hover .ProjectOverlay {
    opacity: 1;
    
    transform: scale(1.05);
  }
  .ProjectCard:hover .TitleText {
    opacity: 1;
  }

  


