.ProjectIntro{
    
    height: auto;
    width: auto;
    background-image: linear-gradient(to right, rgb(238, 137, 153),rgb(68, 38, 221));
    display: flex;
    justify-content: center;
}

.ProjectIntroText{
    padding:20px;
    font-size: 60px;
    font-style: bold;
    color:rgb(245, 240, 220);
}
.GalleryContainer{
    padding:10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
}
.ProjectCard{
    padding: 5px; 
}
.ProjectCard img{
    max-height: 400px;
    transition: transform 0.3s ease;
    
}
.ProjectCard img:hover{
    transform: scale(1.1);
}
