html {
    scroll-behavior: smooth;
}
body{
    
    background-color: rgb(122, 152, 114);
    margin: 0;
    padding: 0px;
    font-family: 'kalam';
}

.DesignerName{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
    color: antiquewhite;
    flex: 1;
}
.DesignerName a{
    text-decoration: none;
    color: antiquewhite;
    transition: color 0.3s ease;
}
.DesignerName a:hover{
    color: rgb(252, 170, 62);
}
.SocialMedia{
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.socialMediaIcon{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.Navigation{
    display: flex;
    justify-content: space-between;
}
.NavBar{
    flex: 0 0 auto;
}
.NavBar ul{
    display: flex;
    
    
}
.NavBar ul li{
    margin: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}

.NavButton{
    color: antiquewhite;
    padding:10px;
    text-decoration: none;
    font-weight: bold;
}
.NavButton:hover{
    color: rgb(192, 166, 133);
    text-decoration: none;
}
.homeContainer{
    position:relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden;
}
.coverPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.Name{
    font-size: 50px;
    font-weight: bold;

}

.ArtyText{
    font-family: Kalam;
}

.IntroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); /* optional: semi-transparent dark background */
    padding: 20px;
    border-radius: 10px;
}

.IntroText a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 5px;
}

.IntroText a:hover {
    background: rgba(255, 255, 255, 0.4);
}

footer{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: rgb(212, 101, 101);
}